/* Layout */
.login-container {
  display: flex;
  min-height: 100vh;
}

.login-left {
  flex: 1;
  background: url("/assets/img/login/background.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.login-right {
  flex: 1;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  position: relative; /* Needed for logo positioning */
}

.login-header {
  position: absolute;
  top: 20px;
  left: 20px; /* Align the logo to the top-left corner */
}

.logos {
  width: 100px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.login-form {
  max-width: 400px;
  width: 100%;
}

/* Form Styles */
.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.cin-code {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.cin-code input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-links {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-links a {
  color: #007bff;
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

.btn {
  display: block;
  width: 100%;
  background-color: #dc3545;
  color: white;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #c82333;
}

.register-link {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 1.5rem;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-right {
    padding: 20px;
  }

  .login-left {
    display: none;
  }

  .login-form {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .login-right {
    padding: 15px;
  }

  h2 {
    font-size: 1.25rem;
  }



  .form-links {
    font-size: 0.85rem;
  }

  .register-link {
    font-size: 0.85rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 10px;
  }
}
.error-message {
  color: red;
  margin-top: 10px;
}
input.ng-invalid.ng-touched {
  border-color: red;
}
/* Set the form width to 100% */
form {
  width: 100%;
  max-width: 600px; /* Optional: You can set a max-width if needed */
  margin: 0 auto; /* Center the form horizontally */
}

/* Set mat-form-field (input field) width to 100% */
mat-form-field {
  width: 100%;
}
